<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Internal CSS file call-->
    <link rel="stylesheet" href="/css/shards.min.css">
    <!--External Bootstrap CSS library file call-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--External Font-Awesome CSS library file call-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!--External Bootstrap Bundle JS library file call-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"
        async>
        </script>
</head>

<body>
    <nav class="navbar bg-primary navbar-dark">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="#">
            <div sec:authorize="hasRole('USER')">
                <i class="fas fa-users"></i>
            </div>
            <div sec:authorize="hasRole('ADMIN')">
                <i class="fas fa-user-cog"></i>
            </div>
        </a>

        <!-- Logout Button -->
        <ul class="navbar-nav">
            <li class="nav-item float-end">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-warning rounded" value="">
                        <i class="fas fa-door-open"></i>
                    </button>
                </form>
            </li>
        </ul>
    </nav>

    <div class="container pt-5">
        <div class="row">
            <div class="col-md-4">
                <h2 th:inline="text">
                    Welcome to the users registry
                    <span th:remove="tag" sec:authentication="name"></span>
                </h2>

                <div sec:authorize="hasRole('USER')">Now you can see the users in the system</div>
                <div sec:authorize="hasRole('ADMIN')">Now you can manage the users in the system</div>
                <div sec:authorize="isAuthenticated()">
                    You are logged in. Congratulations!
                </div>
                Authenticated username:
                <div sec:authentication="name"></div>
                Authenticated user roles:
                <div sec:authentication="principal.authorities"></div>
            </div>
            <div th:switch="${users}" class="col-md-8">

                <h2 th:case="null">No users yet!</h2>

                <div th:case="*">
                    <h2 class="my-1">Users</h2>
                    <div>
                        <a sec:authorize="hasRole('ADMIN')" href="/signup" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2"></i>
                        </a>
                    </div>
                    <table class="table table-striped table-responsive-md">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th sec:authorize="hasRole('ADMIN')">Edit</th>
                                <th sec:authorize="hasRole('ADMIN')">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.email}"></td>
                                <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/edit/{id}(id=${user.id})}"
                                        class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a></td>
                                <td><a sec:authorize="hasRole('ADMIN')" th:href="@{/delete/{id}(id=${user.id})}"
                                        class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>